<div class="intro">
<p> The {{displayName}} demonstrates the use of Resizer and image placeholder services.</p>
</div>

{{>getting-started}}

<h2 id="config">Configuration</h2>
<table>
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>autoHide</td>
            <td>Boolean</td>
            <td>`false`</td>
            <td>Automatically hide grips on the resizer.</td>
        </tr>
        <tr>
            <td>height</td>
            <td>Number</td>
            <td>`310`</td>
            <td>Height of the sizer image.</td>
        </tr>
        <tr>
            <td>maxHeight</td>
            <td>Number</td>
            <td>`400`</td>
            <td>Maximum height of the image.</td>
        </tr>
        <tr>
            <td>maxWidth</td>
            <td>Number</td>
            <td>`300`</td>
            <td>Maximum width of the image.</td>
        </tr>
        <tr>
            <td>minHeight</td>
            <td>Number</td>
            <td>`50`</td>
            <td>Minimum height of the image.</td>
        </tr>
        <tr>
            <td>minWidth</td>
            <td>Number</td>
            <td>`50`</td>
            <td>Minimum width of the image.</td>
        </tr>
        <tr>
            <td>skin</td>
            <td>String</td>
            <td>`yui3-skin-sam`</td>
            <td>Skin classname to use.</td>
        </tr>
        <tr>
            <td>textTemplate</td>
            <td>String</td>
            <td>`{width} x {height}`</td>
            <td>Template to use for the text dimensions.</td>
        </tr>
        <tr>
            <td>url</td>
            <td>String</td>
            <td>`http://placekitten.com/{width}/{height}`</td>
            <td>Image source URL.</td>
        </tr>
        <tr>
            <td>width</td>
            <td>Number</td>
            <td>`220`</td>
            <td>Width of the sizer image.</th>
        </tr>
    </tbody>
</table>